@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/assets/endless-clouds.svg");
  background-color: rgb(226, 226, 226);
  background-size: 20vw;
}

.disabled-effect {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient(
    45deg,
    #444cf7,
    #444cf7 5px,
    #333 5px,
    #333 25px
  );
}
