@tailwind base;
@tailwind components;
@tailwind utilities;

.landing {
  position: relative;
}
.landing-bg::after {
  content: "";
  background-image: url("/assets/endless-clouds.svg");
  background-color: #fff;
  background-size: 300px 150px;
  background-cover: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}
